<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>travel4</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
      <servlet-name>controller</servlet-name>
      <servlet-class>com.travel.web.servlets.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>controller</servlet-name>
      <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>install</display-name>
    <servlet-name>install</servlet-name>
    <servlet-class>com.travel.web.servlets.install</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>install</servlet-name>
    <url-pattern>/install</url-pattern>
  </servlet-mapping>
  <!--  
  <servlet>
    <description></description>
    <display-name>UsersServlet</display-name>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>com.travel.web.servlets.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/login</url-pattern>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTableServlet</display-name>
    <servlet-name>ShowTableServlet</servlet-name>
    <servlet-class>com.travel.web.servlets.ShowTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTableServlet</servlet-name>
    <url-pattern>/showusers</url-pattern>
    <url-pattern>/showdiscounts</url-pattern>
    <url-pattern>/showtours</url-pattern>
    <url-pattern>/showclients</url-pattern>
    <url-pattern>/showorders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TableItemServlet</servlet-name>
    <servlet-class>com.travel.web.servlets.TableItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableItemServlet</servlet-name>
    <url-pattern>/exec</url-pattern>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  -->
</web-app>