<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<security:http pattern="/resources" security="none" />

	<security:http auto-config="true" use-expressions="true">
		<security:intercept-url pattern="/login" access="permitAll" />
		<security:intercept-url pattern="/logout" access="permitAll" />
		<security:intercept-url pattern="/denied" access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/"	access="permitAll" />
 		<security:intercept-url pattern="/race/" access="permitAll" />
		<security:intercept-url pattern="/race/new" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/race/edit/*" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/race/dlelete/*" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/horse/**" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/user/" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/user/new" access="permitAll" />
		<security:intercept-url pattern="/user/edit/*" access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/user/show/*" access="hasRole('ROLE_USER')" />  
		<security:intercept-url pattern="/user/delete/*" access="hasRole('ROLE_USER')" /> 
		<security:intercept-url pattern="/bid/*" access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/bid/listall" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/bid/new/*" access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/bid/edit/*" access="hasRole('ROLE_USER')" /> 
		<security:intercept-url pattern="/bid/delete/*" access="hasRole('ROLE_USER')" /> 
		
		<security:form-login login-page="/login" authentication-failure-url="/failure" default-target-url="/" />
		<security:access-denied-handler	error-page="/denied" />
		<security:logout invalidate-session="true" logout-success-url="/race" logout-url="/logout" />
		
	</security:http>

    <security:authentication-manager>
        <security:authentication-provider user-service-ref="userService">
         	<security:password-encoder ref="passwordEncoder" hash="md5"  >
        		<security:salt-source user-property="username" />
        	</security:password-encoder>
        </security:authentication-provider>
    </security:authentication-manager>

	<bean id="userService" class="org.hopto.nexoff.race.service.UserServiceImpl" />
	<bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder" />

</beans>
