<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AudioRecords</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>/WEB-INF/security.tld</taglib-uri>
      <taglib-location>/WEB-INF/security.tld</taglib-location>
    </taglib>
  </jsp-config>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  <security-role>
    <role-name>user</role-name>
  </security-role>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.epam.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Registration</display-name>
    <servlet-name>RegistrationServler</servlet-name>
    <servlet-class>com.epam.servlets.RegistrationServler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServler</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetAllRecords</display-name>
    <servlet-name>GetAllRecords</servlet-name>
    <servlet-class>com.epam.servlets.GetAllRecords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllRecords</servlet-name>
    <url-pattern>/GetAllRecords</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Search</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.epam.servlets.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Assessment</display-name>
    <servlet-name>AssessmentServlet</servlet-name>
    <servlet-class>com.epam.servlets.AssessmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssessmentServlet</servlet-name>
    <url-pattern>/Assessment</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LogOut</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.epam.servlets.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/errorPage.jsp</location>
  </error-page>
</web-app>